<!DOCTYPE html>
<html>
  <head>
    <title>Bikelist</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bikelist</h1>
    <div>
       <% bikes.bikelist.forEach(function(bike){ %>
        <li>
            <%= bike.properties.name %>
        </li>

   <%    }) %>
    </div>
  </body>
</html>